<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Weather App using NodeJS</h1>
      <form action="/weather" method="get">
        <!-- name: city -->
        <input type="text" name="city" placeholder="Enter city name"/>
        <button type="submit">Get Weather</button>
      </form>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (weather) { %>
      <div class="card">
        <!-- Add your weather data here -->
         <p>
            <i class="fas fa-thermometer-half"></i>
            <!-- Viết tắt của độ : &deg -->
            <%= weather.main.temp %>&deg;F
         </p>
         <p>
            <i class="fas fa-cloud"></i>
            <%= weather.weather[0].main %>
         </p>
         <p>
            <i class="fas fa-map-marker-alt"></i>
            <!-- nó chỉ truyền một lần, nên phải cần 2 cái -->
            <%= weather.sys.country %>, <%= weather.name %>
         </p>
      </div>
      <% } %>
    </div>
  </body>
</html>